@import 'tailwindcss';

@theme {
  --color-blueDark: #292b31;
}

.SignInButton {
  @apply bg-white text-blueDark px-4 py-2 rounded-lg hover:bg-opacity-80 transition;
}

.my-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.my-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .my-container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .my-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .my-container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .my-container {
    max-width: 1350px;
  }
}
